html{
    color: white;
}
body{
    background-image: url(https://as1.ftcdn.net/v2/jpg/05/39/32/66/1000_F_539326624_1VxvtvlQMkOUvX9BsiUEQNbrhbRCLgNN.jpg);
    background-size: cover;
}
.canvas{
    background-color: rgba(15, 15, 15, 0.629);
    margin: 0.5em;
    padding: 0.5em;
}